.tete {
    height: 8vh;
}

.radiostar {
    margin-left: 18rem;
}

.Cover {
    background-image: url(../img/Cover.jpg);
    background-size: cover;
    height: 25vh;
}

footer {
    background-color: black;
    color: white;
    padding: 5rem;
    margin-top: 5rem;
}

.icone {
    font-size: 3rem;
}

.bottom {
    margin-bottom: 3.9rem;
}

.logo {
    width: 7%;
}

.Accueil {
    text-decoration: none;
    color: black;
}

@media (max-width: 450px) {
    ::placeholder {
        text-overflow: ellipsis;
    }

    .ellipse {
        text-overflow: ellipsis;
    }


    .radiostar {
        margin-left: 2rem;
        text-overflow: ellipsis;

    }

    .Cover {
        background-image: url(../img/Cover.jpg);
        background-size: auto;
        height: 25vh;
    }

    footer {
        position: relative;
        top: auto;
        left: auto;
        height: auto;
    }
}